@model EmitReaderLib.Model.Participant

<div class="row participant">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <p>
                    <span class="badge badge-default startnumber">@Model.Startnumber</span> 
                    <strong>
                        @if (Model.Finished)
                        {
                            <a href="@Url.Action("Download", new { id = Model.Startnumber, year = ViewBag.Race.Name })">@Model.Name</a>
                        }
                        else
                        {
                            @Model.Name
                        }
                    </strong> 
                </p>
            </div>
            <div class="col-md-4 text-right">
                @if (Model.Finished)
                {
                    <strong>@Model.TotalTime</strong><br />
                } 
            </div>
        </div>
        @if (!Model.IsTeam)
        {
            <div class="row small">
                <div class="col-md-2"></div>
                <div class="col-md-2"> 
                    @Html.Raw((Model.LegEstimated.Count() > 0 && Model.LegEstimated[0]) ? "<span class=\"badge badge-pill badge-warning\">&#8494;</span>" : "") 
                    <i class="fa fa-fw icon-Downhill"></i> @((Model.LegSplits.Count > 0) ? Model.LegSplits[0] : "") 
                </div>
                <div class="col-md-2">@Html.Raw((Model.LegEstimated.Count() > 1 && Model.LegEstimated[1]) ? "<span class=\"badge badge-pill badge-warning\">&#8494;</span>" : "") <i class="fa fa-fw icon-Skiing"></i> @((Model.LegSplits.Count > 1) ? Model.LegSplits[1] : "") </div>
                <div class="col-md-2">@Html.Raw((Model.LegEstimated.Count() > 2 && Model.LegEstimated[2]) ? "<span class=\"badge badge-pill badge-warning\">&#8494;</span>" : "") <i class="fa fa-fw icon-Running"></i> @((Model.LegSplits.Count > 2) ? Model.LegSplits[2] : "") </div>
                <div class="col-md-2">@Html.Raw((Model.LegEstimated.Count() > 3 && Model.LegEstimated[3]) ? "<span class=\"badge badge-pill badge-warning\">&#8494;</span>" : "") <i class="fa fa-fw icon-cycling"></i> @((Model.LegSplits.Count > 3) ? Model.LegSplits[3] : "") </div>
                <div class="col-md-2"></div>
            </div>
        }
        else
        {
            <div class="row small">
                <div class="col-md-2"></div>
                <div class="col-md-2 text-right">@Html.Raw((Model.LegEstimated.Count() > 0 && Model.LegEstimated[0]) ? "<span class=\"badge badge-pill badge-warning\">&#8494;</span>" : "") <i class="fa fa-fw icon-Downhill"></i> @((Model.LegSplits.Count > 0) ? Model.LegSplits[0] : "") </div>
                <div class="col-md-2">@Model.TeamMembers[0]</div>
                <div class="col-md-2 text-right">@Html.Raw((Model.LegEstimated.Count() > 2 && Model.LegEstimated[2]) ? "<span class=\"badge badge-pill badge-warning\">&#8494;</span>" : "") <i class="fa fa-fw icon-Running"></i> @((Model.LegSplits.Count > 2) ? Model.LegSplits[2] : "") </div>
                <div class="col-md-2">@Model.TeamMembers[2]</div>
                <div class="col-md-2"></div>
            </div>
            <div class="row small">
                <div class="col-md-2"></div>
                <div class="col-md-2 text-right">@Html.Raw((Model.LegEstimated.Count() > 1 && Model.LegEstimated[1]) ? "<span class=\"badge badge-pill badge-warning\">&#8494;</span>" : "") <i class="fa fa-fw icon-Skiing"></i> @((Model.LegSplits.Count > 1) ? Model.LegSplits[1] : "") </div>
                <div class="col-md-2">@Model.TeamMembers[1]</div>
                <div class="col-md-2 text-right">@Html.Raw((Model.LegEstimated.Count() > 3 && Model.LegEstimated[3]) ? "<span class=\"badge badge-pill badge-warning\">&#8494;</span>" : "") <i class="fa fa-fw icon-cycling"></i> @((Model.LegSplits.Count > 3) ? Model.LegSplits[3] : "") </div>
                <div class="col-md-2">@Model.TeamMembers[3]</div>
                <div class="col-md-2"></div>
            </div>
        }
        <hr />
    </div>
</div>

