@using EmitReaderLib.Model;
@using EmitReaderLib;
@using KjeringiData;

@foreach (ParticipantClass c in (ViewBag.Race as EmitReaderLib.Race).Classes.Where(c => c.Official && !c.Test))    
{
    var participantCount = (ViewBag.Race as EmitReaderLib.Race).ParticipantClassCount(c.Id);
    <h3>@c.Name (@participantCount)</h3>

    <table class="table table-striped" style="page-break-after: always;">
        <thead>
            <tr>
                <th>Plass</th>
                <th>#</th>
                <th>Namn</th>
                <th>1. etappe</th>
                <th>2. etappe</th>
                <th>3. etappe</th>
                <th>4. etappe</th>
                <th>Totalttid</th>
                <th><!-- Bedrift/premie--></th>
            </tr>
        </thead>
        <tbody>
            @{
    var res = (ViewBag.Race as EmitReaderLib.Race).GetResults(c.Id.ToString());
    var finish = (ViewBag.Race as EmitReaderLib.Race).TimeStations.Where(ts => ts.Finish = true).First();

    var legs = new List<int>() {
        (ViewBag.Race as EmitReaderLib.Race).TimeStations.Where(ts => ts.Official && ts.Sequence == 1).First().Id,
        (ViewBag.Race as EmitReaderLib.Race).TimeStations.Where(ts => ts.Official && ts.Sequence == 2).First().Id,
        (ViewBag.Race as EmitReaderLib.Race).TimeStations.Where(ts => ts.Official && ts.Sequence == 3).First().Id,
        (ViewBag.Race as EmitReaderLib.Race).TimeStations.Where(ts => ts.Finish && ts.Official).First().Id
    };

    // Company class?
    int priceCount = (int)Math.Ceiling(res.Count() / 3.0);
    int filler = 0;
    var pricesSoFar = 0;
            }
            @foreach (Participant p in res)
            {
                <tr>
                    <td>
                        @if (p.Finished)
                        {
                            @p.Leg(c.Id, legs.Last()).Position
                        }
                    </td>
                    <td>@p.Startnumber</td>
                    <td>@p.Name</td>

                    @{
                filler = 0;
                    }
                    @foreach (Result r in p.Splits(c.Id))
                    {
                        for (int f = filler; f < legs.IndexOf(r.Location); f++)
                        {
                            filler++;

                            <td>
                                @if (!r.IsSuper)
                                {
                                    @r.Name<br />
                                }
                                - manglar -
                            </td>

                        }
                        <td>
                            @if (!r.IsSuper)
                            {
                                @r.Name<br />
                            }
                            @r.Time

                            @{
                        filler++;
                            }
                        </td>
                    }
                    @for (int f = filler; f < 4; f++)
                    {
                        filler++;
                        <td>
                            @if (!p.IsSuper && p.TeamMembers.Count >= f)
                            {
                                @p.TeamMembers[f]<br />
                            }
                            - manglar -
                        </td>

                    }

                    <td>
                        @p.TotalTime
                    </td>
                    <td>
                        @if (priceCount > pricesSoFar++)
                        {
                            <img src="~/Content/Images/award52.png" height="24" />
                        }
                    </td>
                </tr>
            }
        </tbody>



    </table>
}

<div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
<br />
