@using EmitReaderLib.Model;
@{
    ViewBag.Title = "Topptider";

    var race = (ViewBag.Race as EmitReaderLib.Race);
    var res = race.GetBySplits(ViewBag.StationId, ViewBag.ageclass, ViewBag.gender);

    var position = 0;

    int split = Array.FindIndex(race.Legs, l => l.TimestationId.Equals(ViewBag.StationId));

}

<div class="row">
    <div class="col-md-12 flex-first">
        <div class="row">
            <div class="col-md-12">
                <form method="get" class="form-inline">
                    @Html.Hidden("name", new { ViewBag.StationId })

                    <label for="ageclass">Klasse:</label>
                    @Html.DropDownList("ageclass", new List<SelectListItem>
                           {
                               new SelectListItem { Text = "Alle", Value = "0", Selected = (ViewBag.ageclass == 0)},
                               new SelectListItem { Text = "Junior", Value = "1", Selected = (ViewBag.ageclass == 1)},
                               new SelectListItem { Text = "Senior", Value = "2", Selected = (ViewBag.ageclass == 2)},
                               new SelectListItem { Text = "Veteran", Value = "3", Selected = (ViewBag.ageclass == 3)},
                               new SelectListItem { Text = "Superveteran", Value = "4", Selected = (ViewBag.ageclass == 4)}
                           }, new { @onchange = "this.form.submit();", @class = "form-control" })

                    <span style="width:40px">&nbsp;</span>
                    <label for="gender">Kjønn:</label>
                    @Html.DropDownList("gender", new List<SelectListItem>
                           {
                               new SelectListItem { Text = "Alle", Value = "0", Selected = (ViewBag.gender == 0)},
                               new SelectListItem { Text = "Menn", Value = "1", Selected = (ViewBag.gender == 1)},
                               new SelectListItem { Text = "Kvinner", Value = "2", Selected = (ViewBag.gender == 2)}
                           }, new { @onchange = "this.form.submit();", @class = "form-control" })
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item">
                        <a class="nav-link @(split == 0 ? "active" : "")" href="@Url.Action("TopSplits", "Home", new { name = race.Legs[0].TimestationId, ageclass = ViewBag.ageclass, gender=ViewBag.gender }, null)"><i class="fa fa-fw @race.Legs[0].Icon"></i> @race.Legs[0].Name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(split == 1 ? "active" : "")" href="@Url.Action("TopSplits", "Home", new { name = race.Legs[1].TimestationId, ageclass = ViewBag.ageclass, gender=ViewBag.gender  }, null)"><i class="fa fa-fw @race.Legs[1].Icon"></i> @race.Legs[1].Name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(split == 2 ? "active" : "")" href="@Url.Action("TopSplits", "Home", new { name = race.Legs[2].TimestationId, ageclass = ViewBag.ageclass, gender=ViewBag.gender  }, null)"><i class="fa fa-fw @race.Legs[2].Icon"></i> @race.Legs[2].Name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(split == 3 ? "active" : "")" href="@Url.Action("TopSplits", "Home", new { name = race.Legs[3].TimestationId, ageclass = ViewBag.ageclass, gender=ViewBag.gender  }, null)"><i class="fa fa-fw @race.Legs[3].Icon"></i> @race.Legs[3].Name</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@foreach (Participant p in res)
{
position++;
<div class="row" style="page-break-inside: avoid;">
    <div class="col-sm-1">
        <span class="badge badge-pill badge-info">@position</span>
    </div>
    <div class="col-sm-11">
        <div class="row participant">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8">
                        <p>
                            <span class="badge badge-default startnumber">@p.Startnumber</span>
                            <strong>
                                @if (p.IsTeam)
                            {
                                @p.TeamMembers[split]
                        }
                        else
                        {
                            @p.Name
                    }

                            </strong>
                        </p>
                    </div>
                    <div class="col-sm-4 text-right">
                        <strong>@p._splits[split * p.Classes.Count].Time</strong><br />
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>
}
